{% extends "notes_list.html" %}

{% block alerts %}
  <div id="deleteModal" class="modal">
    <form method="post" class="modal-content">
        {% csrf_token %}
      <h2>Are you sure?</h2>
      <div style="display: flex; align-items:center;justify-content:center; gap:10px;">
          <p>Do you want to delete </p>
          <h3>{{note_to_delete.title}} </h3>?
      </div>
      <div class="modal-buttons">
        <button type="submit">Yes, delete</button>
        <a href="{% url 'notes-list' %}">Cancel</a>
    </form>
  </div>
{% endblock alerts %}